[workspace]
members = [
    "aya",
    "aya-log",
    "aya-log-common",
    "aya-log-parser",
    "aya-obj",
    "aya-tool",
    "test/integration-test",
    "xtask",

    # macros
    "aya-bpf-macros",
    "aya-log-ebpf-macros",

    # ebpf crates
    "bpf/aya-bpf",
    "bpf/aya-bpf-bindings",
    "bpf/aya-log-ebpf",
    "test/integration-ebpf",
]

resolver = "2"

default-members = [
    "aya",
    "aya-bpf-macros",
    "aya-log",
    "aya-log-common",
    "aya-log-parser",
    "aya-obj",
    "aya-tool",
    # test/integration-test is omitted; it must be built with xtask.
    "xtask",

    "aya-bpf-macros",
    "aya-log-ebpf-macros",

    # ebpf crates are omitted; they must be built with:
    # --target bpfe{b,l}-unknown-none
    # CARGO_CFG_BPF_TARGET_ARCH={x86_64,aarch64,arm,riscv64}
]

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"

[profile.release.package.integration-ebpf]
debug = 2
codegen-units = 1
