[workspace]
members = [
    "aya", "aya-obj", "aya-tool", "aya-log", "aya-log-common", "aya-log-parser", "test/integration-test", "test/integration-test-macros", "xtask",
    # macros
    "aya-bpf-macros", "aya-log-ebpf-macros",
    # ebpf crates
    "bpf/aya-bpf", "bpf/aya-bpf-bindings", "bpf/aya-log-ebpf", "test/integration-ebpf"
]
default-members = ["aya", "aya-obj", "aya-tool", "aya-log", "aya-bpf-macros", "aya-log-ebpf-macros"]

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"

[profile.release.package.integration-ebpf]
debug = 2
codegen-units = 1
