[package]
name = "aya-obj"
version = "0.2.1"
description = "An eBPF object file parsing library with BTF and relocation support."
keywords = ["bpf", "btf", "ebpf", "elf", "object"]
readme = "README.md"
documentation = "https://docs.rs/aya-obj"
authors.workspace = true
license.workspace = true
repository.workspace = true
homepage.workspace = true
rust-version.workspace = true
edition.workspace = true

[dependencies]
bytes = { workspace = true }
hashbrown = { workspace = true, default-features = true }
log = { workspace = true }
object = { workspace = true, features = ["elf", "read_core"] }
thiserror = { workspace = true }

[dev-dependencies]
assert_matches = { workspace = true }
rbpf = { workspace = true }

[features]
std = ["thiserror/std"]
