[package]
name = "aya-obj"
version = "0.1.0"
description = "An eBPF object file parsing library with BTF and relocation support."
keywords = ["bpf", "btf", "ebpf", "elf", "object"]
license = "MIT OR Apache-2.0"
authors = ["The Aya Contributors"]
repository = "https://github.com/aya-rs/aya"
readme = "README.md"
documentation = "https://docs.rs/aya-obj"
edition = "2021"

[dependencies]
bytes = { workspace = true }
core-error = { workspace = true }
hashbrown = { workspace = true }
log = { workspace = true }
object = { workspace = true, default-features = false, features = [
    "elf",
    "read_core"
] }
thiserror = { workspace = true, default-features = false }

[dev-dependencies]
assert_matches = { workspace = true }
rbpf = { workspace = true }

[features]
std = []
