[package]
description = "Logging for eBPF programs"
name = "aya-log-ebpf"
version = "0.1.2"

authors.workspace = true
edition.workspace = true
homepage.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true

[lints]
workspace = true

[dependencies]
aya-ebpf = { version = "^0.1.2", path = "../aya-ebpf" }
aya-log-common = { version = "^0.1.16", path = "../../aya-log-common" }
aya-log-ebpf-macros = { version = "^0.1.1", path = "../../aya-log-ebpf-macros" }
