[package]
name = "aya-log"
version = "0.1.13"
description = "A logging library for eBPF programs."
keywords = ["ebpf", "bpf", "log", "logging"]
license = "MIT OR Apache-2.0"
authors = ["The Aya Contributors"]
repository = "https://github.com/aya-rs/aya-log"
readme = "README.md"
documentation = "https://docs.rs/aya-log"
edition = "2021"

[dependencies]
aya = { path = "../aya", version = "0.11.0", features=["async_tokio"] }
aya-log-common = { path = "../aya-log-common", version = "0.1.13" }
thiserror = "1"
log = "0.4"
bytes = "1.1"
tokio = { version = "1.24" }

[dev-dependencies]
env_logger = "0.10"
testing_logger = "0.1.1"

[lib]
path = "src/lib.rs"
