[package]
name = "aya"
version = "0.10.5"
description = "An eBPF library with a focus on developer experience and operability."
keywords = ["ebpf", "bpf", "linux", "kernel"]
license = "MIT OR Apache-2.0"
authors = ["The Aya Contributors"]
repository = "https://github.com/aya-rs/aya"
readme = "README.md"
documentation = "https://docs.rs/aya"
edition = "2018"

[dependencies]
libc = { version = "0.2" }
thiserror = "1"
object = { version = "0.26", default-features = false, features = ["std", "read_core", "elf"] }
bitflags = "1.2.1"
bytes = "1"
lazy_static = "1"
parking_lot = { version = "0.11.1", features = ["send_guard"] }
futures = { version = "0.3.12", optional = true, default-features = false, features = ["std"] }
tokio = { version = "1.2.0", features = ["macros", "rt", "rt-multi-thread", "net"], optional = true }
async-std = { version = "1.9.0", optional = true }
async-io = { version = "1.3", optional = true }

[dev-dependencies]
matches = "0.1.8"

[features]
default = []
async = ["futures"]
async_tokio = ["tokio", "async"]
async_std = ["async-std", "async-io", "async"]
