[package]
name = "aya"
version = "0.12.0"
description = "An eBPF library with a focus on developer experience and operability."
keywords = ["bpf", "ebpf", "kernel", "linux"]
readme = "README.md"
documentation = "https://docs.rs/aya"
rust-version = "1.66"
authors.workspace = true
license.workspace = true
repository.workspace = true
homepage.workspace = true
edition.workspace = true

[dependencies]
assert_matches = { workspace = true }
async-io = { workspace = true, optional = true }
aya-obj = { path = "../aya-obj", version = "^0.1.0", features = ["std"] }
bitflags = { workspace = true }
bytes = { workspace = true }
lazy_static = { workspace = true }
libc = { workspace = true }
log = { workspace = true }
object = { workspace = true, features = ["elf", "read_core", "std", "write"] }
solana_rbpf = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true, features = ["rt"], optional = true }

[dev-dependencies]
tempfile = { workspace = true }

[features]
default = []
async_tokio = ["tokio/net"]
async_std = ["dep:async-io"]

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs", "-D", "warnings"]
