[package]
name = "aya"
version = "0.11.0"
description = "An eBPF library with a focus on developer experience and operability."
keywords = ["bpf", "ebpf", "kernel", "linux"]
license = "MIT OR Apache-2.0"
authors = ["The Aya Contributors"]
repository = "https://github.com/aya-rs/aya"
readme = "README.md"
documentation = "https://docs.rs/aya"
edition = "2021"

[dependencies]
async-io = { workspace = true, optional = true }
aya-obj = { workspace = true, features = ["std"] }
bitflags = { workspace = true }
bytes = { workspace = true }
lazy_static = { workspace = true }
libc = { workspace = true }
log = { workspace = true }
object = { workspace = true, default-features = false, features = [
    "elf",
    "read_core",
    "std",
] }
parking_lot = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true, features = ["rt"], optional = true }

[dev-dependencies]
assert_matches = { workspace = true }
cargo_metadata = { workspace = true }
futures = { workspace = true }
public-api = { workspace = true }
rustdoc-json = { workspace = true }
tempfile = { workspace = true }

[features]
default = []
async_tokio = ["tokio/net"]
async_std = ["async-io"]

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "-D", "docsrs", "warnings"]
