name: build-aya

on:
  push:
    branches:
      - main
      - ci

  pull_request:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always

jobs:
  build-test:
    strategy:
      matrix:
        arch:
          - x86_64-unknown-linux-gnu
          - aarch64-unknown-linux-gnu
          - armv7-unknown-linux-gnueabi
          - riscv64gc-unknown-linux-gnu
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable

      - uses: taiki-e/install-action@cargo-hack
      - name: Check
        run: cargo hack check --all-targets --feature-powerset --ignore-private

      - uses: Swatinem/rust-cache@v1
      - name: Prereqs
        run: cargo install cross --git https://github.com/cross-rs/cross

      - name: Build
        run: cross build --verbose --target ${{matrix.arch}}

      - name: Run test
        env:
          RUST_BACKTRACE: full
        run: |
          cross test --verbose --target ${{matrix.arch}}
