name: Lint

on:
  push:
    branches:
      - main
      - ci

  pull_request:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always

jobs:
  lint:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2

      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          components: rustfmt, clippy, miri
          override: true

      - name: Check formatting
        run: |
          cargo fmt --all -- --check
          pushd bpf
          cargo fmt --all -- --check
          popd

      - name: Run clippy
        run: |
          cargo clippy -p aya -- --deny warnings
          cargo clippy -p aya-gen -- --deny warnings
          cargo clippy -p xtask -- --deny warnings
          pushd bpf
          cargo clippy -p aya-bpf -- --deny warnings
          popd

      - name: Run miri
        env:
          MIRIFLAGS: -Zmiri-disable-stacked-borrows
        run: |
          cargo miri test
          pushd bpf
          cargo miri test
          popd